#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 0px;
}

.my-div {
    width: 100px;
    height: 100px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
